<nav>
  <div>
    <%= link_to image_tag("https://img.icons8.com/ios-filled/48/ffffff/long-arrow-left.png"), groups_path, class: "btn"  %>
  </div>
  <h1 class="color-white">TRANSACTIONS</h1>
  <img src="https://img.icons8.com/sf-black/48/ffffff/search.png"/>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="banner">
<div class="cat-image">
    <%= image_tag @group.icon rescue image_tag 'https://img.icons8.com/officel/48/000000/box.png'%>
  </div>
  <h1><%= @group.name %></h1>
  <div>
    <p></p>
  </div>
  <div>
  </div>
</div>
<main>
  <div>
    <% if @operations.blank? %>
    <p>No transaction yet.</p>
    <% else %>
    <ul class="card-list">
      <% @operations.each do |payment| %>
        <li class="transaction-card hover">
          <a><h2><%= payment.name %></h2></a>
          <a>$<%= payment.amount %></a>
          <%= button_to "Delete", group_operation_path(user_id: payment.user.id, group_id: payment.group.id, id: payment.id), method: :delete, class: "del-btn" %>
        </li>
          <% end %>
        </ul>
      <% end %>
      <div class="total-banner">
        <h4>Total Amount</h4>
        <p>$<%=@total_amount %></p>
      </div>
  </div>
  <button class="green-btn" type="button">
    <%= link_to "ADD A NEW TRANSACTION", new_group_operation_path %>
  </button>
</main>